<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vue.js Website</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://unpkg.com/vue@3.0.2'></script>
</head>
<style>
    body{
        background:#eeeeee;
        max-width:960px;
        margin: 20px auto;
    }
    p,h3,ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style-position:none;
        background:#ffffff;
        margin: 20px auto;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    li.fav{
        background:#da9b9b;
    }
    
</style>
<body>

    <div id="app"> 

         <!-- v-for loop = html自由定義的變數名稱 in js中宣告的陣列名稱-->
         <div v-if = "showBooks">
            <ul>                       
              <li v-for="book in Books" v-bind:class="{fav:book.isFav}"> 
                <img v-bind:src="book.img" width="250" height="300">
                    <h3>{{book.title}}</h3>  
                    <h3>{{book.author}}</h3>
                    <h3>${{book.price}}</h3>
                    <button @Click="togglefav(book)">Select</button>                                 
              </li>
            </ul>
        </div>

        <!-- v-on:click = @click-->
        <button v-on:click="toggleShowBook">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button> 

        <h1>收藏數量:{{ favTotal }}  總金額 : ${{ priceTotal }}</h1>

    </div>

    
    <script src="app.js"></script>
</body>
</html>